:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --extra-text-color: #ffffff;
  --accent-color: #2196f3;
  --button-primary-hover-focus: #188ce8;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --logo-primary-color-header: #000000;
  --logo-primary-color-footer: #ffffff;
  --logo-accent-color: #2196f3;
  --address-footer-color: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
  --card-set-gap: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.contact-form .input:focus, .subscription .input:focus,
.comment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.center-wrapper .subtitle, .subscription .subtitle {
  color: var(--extra-text-color);
  margin-bottom: 20px;
}

body {
  font-family: var(--primary-font-family);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--logo-accent-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--extra-text-color);
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--secondary-text-color);
}

.subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.button {
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list .item:not(:last-child) {
  margin-right: 10px;
}

.social-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  transition: background-color var(--duration) var(--timing-function);
}

.social-list .link:hover, .social-list .link:focus {
  background-color: var(--accent-color);
}

.social-list .icon {
  fill: var(--icon-color);
  transition: fill var(--duration) var(--timing-function);
}

.social-list .link:hover .icon,
.social-list .link:focus .icon {
  fill: var(--extra-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--duration) var(--timing-function), visibility var(--duration) var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 580px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--duration) var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close-icone {
  fill: #000000;
  transition: fill var(--duration) var(--timing-function);
}

.close-btn:hover .close-icone,
.close-btn:focus .close-icone {
  fill: var(--accent-color);
}

.call-to-action {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: var(--secondary-text-color);
}

.contact-form .field {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.contact-form .input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0px 12px 0px 42px;
  transition: border-color var(--duration) var(--timing-function);
}

.input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--secondary-text-color);
  transform: translateY(-50%);
  transition: fill var(--duration) var(--timing-function);
}

.contact-form .input:focus + .form-icon {
  fill: var(--accent-color);
}

.comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--duration) var(--timing-function);
}

.comment::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-wrapper {
  margin-bottom: 30px;
}

.checkbox-label {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.checkbox-wrapper-check {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.checkbox-empty {
  transition: opacity var(--duration) var(--timing-function);
}

.checkbox:checked + .checkbox-label .checkbox-empty {
  opacity: 0;
}

.checkbox:focus + .checkbox-label .checkbox-empty {
  outline: 1px solid var(--accent-color);
  border-radius: 1px;
}

.checkbox-checked {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity var(--duration) var(--timing-function);
}

.checkbox:checked + .checkbox-label .checkbox-checked {
  opacity: 1;
}

.link-agreement {
  color: var(--accent-color);
}

.form-submit {
  display: block;
  margin: 0px auto;
}

.nav-list, .contacts-list {
  display: none;
}

.header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__studio_color_black {
  color: var(--logo-primary-color-header);
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu-btn__icon {
  fill: #000000;
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-bg-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--duration) var(--timing-function), visibility var(--duration) var(--timing-function);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  height: 100vh;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-nav__item:not(:last-child),
.mobile-menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mobile-menu-nav__link_current {
  color: var(--accent-color);
}

.mobile-menu-contacts__link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17647;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu-contacts__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mobile-menu-social__list {
  display: flex;
  margin-top: 64px;
}

.mobile-menu-social__item:not(:last-child) {
  display: flex;
  margin-right: 10px;
}

.mobile-menu-social__item:not(:last-child)::after {
  content: "";
  margin-left: 10px;
  height: 22px;
  width: 1px;
  background-color: rgba(33, 33, 33, 0.2);
}

.mobile-menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
  .header {
    padding: 0;
  }
  .navigation {
    display: flex;
  }
  .header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
  .nav-list {
    display: flex;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14286;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }
  .nav-list__link_current {
    color: var(--accent-color);
    position: relative;
  }
  .nav-list__link_current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
  .contacts-list {
    display: block;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contacts__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .contacts__icon {
    max-height: 14px;
    margin-right: 8px;
    fill: currentColor;
  }
  .contacts__icon_small {
    width: 14px;
    height: 10px;
  }
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-overlay {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background.jpg);
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
}

.hero-main-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.button_primary {
  min-width: 200px;
  padding: 10px 20px;
  color: var(--extra-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--duration) var(--timing-function);
}

.button_primary:hover, .button_primary:focus {
  background-color: var(--button-primary-hover-focus);
}

.features {
  padding-bottom: 0;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-list > .item {
  flex-basis: calc((100% - 90px) / 4);
}

.feature-list > .item:not(:nth-child(4n)) {
  margin-right: var(--card-set-gap);
}

.feature-list > .item:not(:nth-last-child(-n + 4)) {
  margin-bottom: var(--card-set-gap);
}

.icon-background {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-list > .item {
  flex-basis: calc((100% - 2 * var(--card-set-gap)) / 3);
}

.work-list > .item:not(:nth-child(3n)) {
  margin-right: var(--card-set-gap);
}

.work-list > .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: var(--card-set-gap);
}

.thumb {
  position: relative;
}

.thumb > .label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.thumb > .label .subtitle {
  color: var(--extra-text-color);
  margin-bottom: 0px;
}

.team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
  font-size: 16px;
  line-height: 1.19;
}

.team-list > .item {
  flex-basis: calc((100% - 4 * var(--card-set-gap)) / 4);
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.team-list .title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: inherit;
  text-align: center;
  color: var(--secondary-text-color);
}

.team-list .position {
  text-align: center;
  margin-bottom: 16px;
}

.team-content-wrapper {
  padding: 30px 32px;
  background-color: var(--primary-bg-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.clients-list .item {
  flex-basis: calc((100% - 6 * var(--card-set-gap)) / 6);
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.clients-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border var(--duration) var(--timing-function);
}

.clients-list .link:hover, .clients-list .link:focus {
  border: 1px solid var(--accent-color);
}

.clients-list .icon {
  fill: var(--icon-color);
  transition: fill var(--duration) var(--timing-function);
}

.clients-list .link:hover .icon,
.clients-list .link:focus .icon {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

.logo__studio_color_white {
  color: var(--logo-primary-color-footer);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.left-side-wrapper {
  margin-right: 70px;
}

.address__list {
  margin-top: 20px;
  width: 230px;
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 6px;
}

.address__link {
  color: var(--contacts-footer-color);
  transition: color var(--duration) var(--timing-function);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__link_color_white {
  color: var(--extra-text-color);
}

.center-wrapper .social-list {
  justify-content: start;
}

.center-wrapper .link {
  background-color: rgba(255, 255, 255, 0.1);
}

.center-wrapper .icon {
  fill: var(--extra-text-color);
}

.subscription {
  margin-left: auto;
}

.subscription .input {
  display: block;
  width: 358px;
  height: 50px;
  padding: 0px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--extra-text-color);
  transition: border-color var(--duration) var(--timing-function);
}

.subscription .input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription .button_primary {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscription .icon {
  margin-left: 10px;
  fill: var(--primary-bg-color);
}

.subscription .form {
  display: flex;
}

.filters-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-list .item:not(:last-child) {
  margin-right: 8px;
}

.button.secondary {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  transition: background-color var(--duration) var(--timing-function), color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function);
}

.button.secondary:hover, .button.secondary:focus {
  color: var(--extra-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.card-set > .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.card-set .link {
  display: block;
  transition: box-shadow var(--duration) var(--timing-function);
}

.card-set .link:hover, .card-set .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set .link:hover .overlay-portfolio,
.card-set .link:focus .overlay-portfolio {
  transform: translateY(0);
  opacity: 1;
}

.project-title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.project-description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.thumb-portfolio {
  position: relative;
  overflow: hidden;
}

.overlay-portfolio {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 24px;
  overflow-y: auto;
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--extra-text-color);
  opacity: 0;
  transform: translateY(100%);
  transition: transform var(--duration) var(--timing-function);
}
/*# sourceMappingURL=main.css.map */