@import "./utils/variables";
@import "./utils/visually-hidden";
@import "./utils/placeholders";

@import "./base/common";
@import "./base/container";

@import "./components/logo";
@import "./components/section";
@import "./components/main-title";
@import "./components/section-title";
@import "./components/subtitle";
@import "./components/button";
@import "./components/social-list";
@import "./components/backdrop";
@import "./components/modal";
@import "./components/contact-form";

@import "./layout/header";
@import "./layout/hero";
@import "./layout/features";
@import "./layout/work-list";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/footer";
@import "./layout/portfolio-gallery";