// COMMON (PHONES)
.clients__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.clients__item {
    flex-basis: calc((100% - 2 * var(--card-set-gap)) / 2);
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;

    transition: border var(--duration) var(--timing-function);

    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
    }
}

.clients__icon {
    fill: var(--icon-color);
    transition: fill var(--duration) var(--timing-function);

    .clients__link:hover &,
    .clients__link:focus & {
        fill: var(--accent-color);
    }
}

// 768px+ DESCTOPS
@media screen and (min-width: 768px){
    .clients__item {
        flex-basis: calc((100% - 3 * var(--card-set-gap)) / 3);
    }
}

// 1200px+ DESKTOPS
@media screen and (min-width: 1200px){
    .clients__item {
        flex-basis: calc((100% - 6 * var(--card-set-gap)) / 6);
    }
}