.clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));

    .item {
        flex-basis: calc((100% - 6 * var(--card-set-gap)) / 6);
        margin-left: var(--card-set-gap);
        margin-top: var(--card-set-gap);
    }

    .link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 92px;
        border: 1px solid var(--icon-color);
        border-radius: 4px;
    
        transition: border var(--duration) var(--timing-function);

        &:hover,
        &:focus {
            border: 1px solid var(--accent-color);
        }
    }

    .icon {
        fill: var(--icon-color);
        transition: fill var(--duration) var(--timing-function);
    }

    .link:hover .icon,
    .link:focus .icon {
        fill: var(--accent-color);
    }
}