// COMMON
.footer {
    padding: 60px 0px;
    background-color: var(--footer-bg-color);
}

.logo__studio_color_white {
    color: var(--logo-primary-color-footer);
}

.address {
    margin-top: 20px;
}

.address__item:not(:last-child) {
    margin-bottom: 6px;
}

.address__link {
    color: var(--address-footer-color);
    transition: color var(--duration) var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.address__link_color_white {
    color: var(--extra-text-color);
}

.subscription__input {
    height: 50px;
    padding: 0px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    @include font (400, 16px, 20px, 0.03em);
    color: var(--extra-text-color);

    transition: border-color var(--duration) var(--timing-function);
    
    &::placeholder {
        @include font (400, 16px, 20px, 0.03em);
        color: var(--address-footer-color);
    }
    
    &:focus {
        @extend %input-focus;
    }
}

.subscription__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button-icon {
    margin-left: 10px;
    fill: var(--primary-bg-color)
}

// 0-767px only PHONES
@media screen and (max-width: 767.98px) {
    .social-wrapper {
        margin: 60px 0px;
    }

    .subscription__input {
        width: 100%;
    }
}

// 0-1199px PHONES and TABLETS
@media screen and (max-width: 1199.98px) {
    .footer {
        text-align: center;
    }

    .subscription__input {
        display: block;
        margin-bottom: 20px;
    }
}

// 768-1199px only TABLETS
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
    .footer-container {
        padding: 0px 90px;
    }

    .contacts-social-wrapper {
        margin-bottom: 60px;
    }

    .subscription__input {
        display: inline-block;
        width: 450px;
    }
}

// 768px+ TABLETS and DESKTOPS
@media screen and (min-width: 768px) {
    .contacts-social-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}

// 1200px+ DESKTOPS
@media screen and (min-width: 1200px) {
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .contacts-wrapper {
        margin-right: 86px;
    }

    .subscription__form {
        display: flex;
    }

    .subscription__input {
        width: 358px;
        margin-right: 12px;
    }
}