.footer {
    background-color: var(--footer-bg-color);
    text-align: center;
}

.logo__studio_color_white {
    color: var(--logo-primary-color-footer);
}

.address {
    margin-top: 20px;
}

.address__item:not(:last-child) {
    margin-bottom: 6px;
}

.address__link {
    color: var(--address-footer-color);
    transition: color var(--duration) var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.address__link_color_white {
    color: var(--extra-text-color);
}

.center-wrapper {
    margin-top: 58px;
    margin-bottom: 60px;
}

.subscription__input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0px 16px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    @include font (400, 16px, 20px, 0.03em);
    color: var(--extra-text-color);

    transition: border-color var(--duration) var(--timing-function);
    
    &::placeholder {
        @include font (400, 16px, 20px, 0.03em);
        color: var(--address-footer-color);
    }
    
    &:focus {
        @extend %input-focus;
    }
}

.subscription__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button-icon {
    margin-left: 10px;
    fill: var(--primary-bg-color)
}

@media screen and (min-width: 768px) {
    
}


// .footer {
//     padding-top: 60px;
//     padding-bottom: 60px;
//    }


// .footer-container {
//     display: flex;
//     align-items: baseline;
// }

// .left-side-wrapper {
//     margin-right: 70px;
// }

// .address__list {
//     ;
//     width: 230px;
//     
// }

// .center-wrapper {

//     .subtitle {
//         @extend %footer-subtitle;
//     }

//     .social__list {
//         justify-content: start;
//     }

//     .social__link {
//         background-color: rgba(255, 255, 255, 0.1);
//     }

//     .social__icon {
//         fill: var(--extra-text-color);
//     }
// }

// .subscription {
//     margin-left: auto;

//     .subtitle {
//         @extend %footer-subtitle;
//     }

//     .input {
//         display: block;
    
//         width: 358px;
//         height: 50px;
//         padding: 0px 16px;
//         margin-right: 12px;
    
//         
//         
//         }

//         
//     }

//     .button_primary {
//         
//     }

//     .icon {
//         
//     }

//     .form {
//         display: flex;
//     }
// }