.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-bg-color);
}

.logo__studio_color_white {
    color: var(--logo-primary-color-footer);
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.left-side-wrapper {
    margin-right: 70px;
}

.address__list {
    margin-top: 20px;
    width: 230px;
    font-style: normal;
}

.address__item:not(:last-child) {
    margin-bottom: 6px;
}

.address__link {
    color: var(--contacts-footer-color);
    transition: color var(--duration) var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.address__link_color_white {
    color: var(--extra-text-color);
}

.center-wrapper {

    .subtitle {
        @extend %footer-subtitle;
    }

    .social-list {
        justify-content: start;
    }

    .link {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .icon {
        fill: var(--extra-text-color);
    }
}

.subscription {
    margin-left: auto;

    .subtitle {
        @extend %footer-subtitle;
    }

    .input {
        display: block;
    
        width: 358px;
        height: 50px;
        padding: 0px 16px;
        margin-right: 12px;
    
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        background-color: transparent;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: var(--extra-text-color);
    
        transition: border-color var(--duration) var(--timing-function);
        
        &::placeholder {
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }

        &:focus {
            @extend %input-focus;
        }
    }

    .button_primary {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon {
        margin-left: 10px;
        fill: var(--primary-bg-color)
    }

    .form {
        display: flex;
    }
}