// COMMON
.hero {
    text-align: center;
}

.hero__main-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero-overlay {
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: cover;
    background-color: #c4c4c4;
}

.button_primary {
    min-width: 200px;
    padding: 10px 20px;
    color: var(--extra-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color var(--duration) var(--timing-function);
    
    &:hover,
    &:focus {
        background-color: var(--button-primary-hover-focus);
    }
}

// 0-1199px PHONES and TABLETS
@media screen and (max-width: 1199.98px) {
    .hero {
        padding: 118px 0px;
    }

    .hero__main-title {
        max-width: 360px;
    }
}

// 0-767px PHONES
@media screen and (max-width: 767.98px) {
    .hero-overlay {
        max-width: 480px;
        min-height: 400px;
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/480px/hero-background.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-overlay {
            background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/480px/hero-background@2x.jpg)
        }
    }
}

// 768px+ TABLETS
@media screen and (min-width: 768px) {
    .hero-overlay {
        max-width: 768px;
        min-height: 400px;
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/768px/hero-background.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-overlay {
            background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/768px/hero-background@2x.jpg)
        }
    }
}

// 1200px+ DESKTOPS
@media screen and (min-width: 1200px) {
    .hero {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .hero-overlay {
        max-width: 1600px;
        min-height: 600px;
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/1200px/hero-background.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-overlay {
            background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/1200px/hero-background@2x.jpg)
        }
    }

    .hero__main-title {
        width: 696px;
    }
}