// COMMON
.team {
    background-color: var(--secondary-bg-color);
}

.team__item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.team__content-wrapper {
    text-align: center;
    background-color: var(--primary-bg-color);
    padding: 30px 30px 24px 30px;
}

.team__name {
    margin-bottom: 10px;
    @include font (500, 16px, 19px, 0.03em);
    color: var(--secondary-text-color);
}

.team__position {
    margin-bottom: 16px;
    @include font (400, 16px, 19px, 0.03em);
}

// 0-767px only PHONES
@media screen and (max-width: 767.98px) {
    .team__item:not(:last-child) {
        margin-bottom: var(--card-set-gap);
    }
}

// 768px+ only TABLETS
@media screen and (min-width: 768px) {
    .team__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * var(--card-set-gap));
        margin-top: calc(-1 * var(--card-set-gap));
    }

    .team__item {
        flex-basis: calc((100% - 2 * var(--card-set-gap)) / 2);
        margin-left: var(--card-set-gap);
        margin-top: var(--card-set-gap);
    }
}

// 1200px+ only DESKTOPS
@media screen and (min-width: 1200px) {
    .team__item {
        flex-basis: calc((100% - 4 * var(--card-set-gap)) / 4);
    }

    .team__content-wrapper {
        padding-bottom: 30px;
    }
}