.contact-form {
    
    .field {
        display: block;
        margin-bottom: 4px;

        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: #757575;
    }
    
    .input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding: 0px 12px 0px 42px;
    
        transition: border-color var(--duration) var(--timing-function);

        &:focus{
            @extend %input-focus;
        }
    }
}

.input-wrapper {
    position: relative;
    margin-bottom: 10px;
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 12px;

    fill: var(--secondary-text-color);
    transform: translateY(-50%);
    transition: fill var(--duration) var(--timing-function);

    .contact-form .input:focus + & {
        fill: var(--accent-color);
    }
}

.comment {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--duration) var(--timing-function);

    &::placeholder {
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
        @extend %comment-focus;
    }
}

.checkbox-wrapper {
    margin-bottom: 30px;
}

.checkbox-label {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.checkbox-wrapper-check {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.checkbox-empty {
    transition: opacity var(--duration) var(--timing-function);

    .checkbox:checked+.checkbox-label & {
        opacity: 0;
    }

    .checkbox:focus+.checkbox-label & {
        outline: 1px solid var(--accent-color);
        border-radius: 1px;
    }
}

.checkbox-checked {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 0;

    transition: opacity var(--duration) var(--timing-function);

    .checkbox:checked+.checkbox-label & {
        opacity: 1;
    }
}

.link-agreement {
    color: var(--accent-color);
}

.form-submit {
    display: block;
    margin: 0px auto;
}