.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 528px;
    height: 580px;
    padding: 40px;

    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--duration) var(--timing-function);

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0.9);
    }
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.close-icone {
    fill: #000000;
    transition: fill var(--duration) var(--timing-function);

    .close-btn:hover &,
    .close-btn:focus & {
        fill: var(--accent-color);
    }
}

.call-to-action {
    display: block;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 12px;

    color: var(--secondary-text-color);
}