.social__list {
    display: flex;
    justify-content: center;
}

.social__item:not(:last-child) {
    margin-right: 10px;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--icon-color);

    transition: background-color var(--duration) var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.social__link_bgc {
    background-color: rgba(255,255,255,0.1);
}

.social__icon {
    fill: var(--icon-color);
    transition: fill var(--duration) var(--timing-function);

    .social__link:hover &,
    .social__link:focus & {
        fill: var(--extra-text-color);
    }
}