.social-list {
    display: flex;
    justify-content: center;

    .item:not(:last-child) {
        margin-right: 10px;
    }

    .link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        color: var(--icon-color);
    
        transition: background-color var(--duration) var(--timing-function);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
        }
    }

    .icon {
        fill: var(--icon-color);
        transition: fill var(--duration) var(--timing-function);
    }

    .link:hover .icon,
    .link:focus .icon {
        fill: var(--extra-text-color);
    }
}