.subtitle {
    margin-bottom: 10px;
    @include font (700, 14px, 16px, 0.03em);
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

//0-767px only PHONES
@media screen and (max-width: 767.98px) {
    .subtitle {
        text-align: center;
    }
}