body {
    font-family: var(--primary-font-family);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}