:root {
    --primary-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --extra-text-color: #ffffff;
    --accent-color: #2196f3;
    --button-primary-hover-focus: #188ce8;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #f5f4fa;
    --footer-bg-color: #2f303a;
    --logo-primary-color-header: #000000;
    --logo-primary-color-footer: #ffffff;
    --logo-accent-color: #2196f3;
    --address-footer-color: rgba(255, 255, 255, 0.6);
    --icon-color: #afb1b8;
    --card-set-gap: 30px;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --duration: 250ms;
}